{
	"version" : "DEV-0.5.0",
	"statusLogChannel" : "-1",
	"cooldownTime" : "5",
	"featureStatus": {
		"fish" : true,
		"roulette" : true,
		"statusNotifier" : false,
		"help" : true,
		"ID" : true,
		"configTest" : true,
		"shitpost" : true,
		"cooldown" : true,
		"reconnect" : true,
		"getlog" : true
	}
}
